/*
regle pour telecharger une font
@font-face {
    font-family: "Bodo Amat";
    src: url("/public/font/BodoAmat.woff");
}
*/

body {
    font-family: "Bodo Amat";
    font-size: 12px;
}

header {
    background: #50658F;
    color: white;
    min-height: 12vh;
}

a {
    text-decoration: none;
}

header a {
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    text-align: center;

}

#login,
#sign,
#defiIA,
#defiPlayer,
#deconnect {
    cursor: pointer;
}

.btn {
    background-color: #50658F;
    color: white;
    border: none;
    border-radius: 12px;
    height: 40px;
    width: 200px;
    text-align: center;
}

/* 
=================================================================
    FORM
=================================================================
*/
.log-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    margin: 50px auto auto auto;
}

.msgInfo {
    color: red;
    font-weight: 100;
    font-size: x-small;
}

.form {
    display: flex;
    flex-direction: column;
}

.label-form {
    margin: 15px 0;
    font-size: medium;
}

.label-input {
    width: 200px;
    height: 24px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-form {
    margin: 20px auto;
}

.create-form {
    display: none;
}

/*
    ASIDE liste joueur co
*/
.aside {
    display: none;
}


/*
    CONTENU MORPION
*/
main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
}

.mainContent {
    margin: auto auto;
}

.contentMorpion {
    margin-top: 60px;
}

.table {
    font-size: 24px;
    border: 1px solid #c49B93;
    width: 250px;
    height: 230px;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid #c49B93;
}

td {

    height: 60px;
    width: 60px;
}



.showX {
    animation: 1s ease-in slideinX;
}

.showO {
    animation: 1s ease-in slideinO;
}

@keyframes slideinX {
    from {

        transform: scaleX(0) rotate(0deg);

    }

    to {

        transform: scaleX(1) rotate(360deg);
    }
}

@keyframes slideinO {
    from {

        transform: scaleX(0);

    }

    to {

        transform: scaleX(1) rotateZ(10deg);

    }
}

/*
    MODAL
*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}

.modal-content {
    display: flex;
    background-color: white;
    height: 350px;
    width: 300px;
    border-radius: 10px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    width: 100%;
}

.modal-close {
    align-self: flex-end;
    position: relative;
    right: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
}

.modal-rules {
    margin-top: 25px;
    align-self: center;
    overflow: overlay;
    height: 200px;
    width: 250px;
    margin-bottom: 25px;
    padding-right: 10px;
}

.modal-users {
    display : flex;
    justify-content : center;
    flex-wrap : wrap; 
    flex-direction : column;
    align-items : center;
}

.connected, .notConnected {
    margin-right : 10px
}

.connected{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: green;
}

.modal-text {
    padding-right: 5px;
}

.modal-btn {
    align-self: center;
}

#btnEasy {
    background-color: darkcyan;
}

#btnHard {
    background-color: darkred
}

#btnEasy,
#btnHard {
    margin: 30px auto;
    position: relative;
    left: 30px;
}

#btnEasy:hover,
#btnHard:hover {

    animation: .2s linear rotateHover;
    animation-fill-mode: forwards
}

#X,
#O {
    font-size: 17px;
    width: 248px;
    height: 28px;
    cursor: pointer;
}

#O {
    margin-top: 100px;
}

#choiceX,
#choiceO {
    font-size: 20px;
}

#choiceX {
    color: #50658F;
}

#choiceO {
    color: #C49B93;
}

#X {
    margin-top: 20px;
}

@keyframes rotateHover {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }

}

.modal-endGame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.endMsg {
    position: relative;
    top: 20px;
    font-size: 24px;
    text-align: center;
    padding: 10px;
}

.quit {
    position: relative;
    top: 150px;
    text-align: center;
    margin: auto auto;
}